
header(class="w-full justify-center justify-items-center")
  div(class="w-4/5 flex self-center")
    div(class="w-3/12") 
      a(href="/admin/dashboard" class="text-blue-500 text-3xl") ADMIN 
    div(class="w-9/12") 