div(class="w-2/12 bg-gray-800") 
  ul  
    li(class="border-b border-e-white text-xl text-white p-2") 
      a(href=`${prefixAdmin}/dashboard`) Tong quan 
    li(class="border-b border-e-white text-xl text-white p-2") 
      a(href="/admin/products") San Pham 