header(class=" w-full h-28 flex justify-center items-center")
  div(class="flex w-4/5")
    div(class="basis-3/12")
      a(href="/")
        img(src="/images/logo.png", alt="logo")
    div(class="basis-9/12 ")
      ul(class="flex gap-5") 
        li 
          a(href="/") trang chu
        li 
          a(href="/products") San pham   
  
  
  