header(class=" w-full flex justify-center items-center")
  div(class="flex w-4/5 justify-between")
    div(class="basis-3/12")
      a(href="/")
        img(src="/images/logo.png", alt="logo")
    div(class="basis-9/12")
      ul(class="flex justify-between") 
        li 
          a(href="/") trang chu
        li 
          a(href="/products") San pham   
  
  
  