doctype html 
head 
  meta(charset=UTF-8)
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title= title 
  link(rel="stylesheet", href="/css/output.css")
body 
  h1(class="text-red-700 text-3xl") Product page