mixin alertSuccess(time)
    - if(messages.success)
            div(class="alertSuccess" data-time=time show-success-alert role='alert')
                span= messages.success
                button(class="bg-red-600 text-white font-semibold py-1 px-3 rounded-lg hover:bg-red-400 active:scale-95 transition-all duration-150 absolute top-0 right-0 " close-alert-btn) x

mixin alertFail(time)
    - if(messages.success)
            div(class="alertFail" data-time=time show-fail-alert role='alert')
                span= messages.success
                button(class="bg-red-600 text-white font-semibold py-1 px-3 rounded-lg hover:bg-red-400 active:scale-95 transition-all duration-150 absolute top-0 right-0 " close-alert-btn) x