mixin search(keySearch)  
    form( class="flex" id="form-search" method="GET") 
        input(type="text", name="keySearch" placeholder="Tim kiem o day" style="width: 200px; height: 40px" value=keySearch class="rounded-md")
        button(type="submit" class="btn-primary") search